Source: y2scanner
Section: python
Priority: optional
Maintainer: Omer Dagan <mr.omer.dagan@gmail.com>
Build-Depends: debhelper (>= 9), rsync, 
 dh-python, 
 python3,
 python3-all
Standards-Version: 3.9.5
Homepage: https://github.com/mromerdagan

Package: y2scanner
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 python3-requests,
 python3-bs4,
Description: Yad2 scanner for convenient polling
 Yad2 scanner scans pre defnied filtered searched, and
 generate interesing nitifications: new items, gone items, 
 items that has lowered price etc...
